.item{
    background-color: rgb(255, 255, 255);
    height: 550px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0, 1, 1, 1);
    border-radius: 10px;
    gap: 1rem;
    border: 2px solid black;
}

.title
{
    font-size: 1rem;
padding: 1rem;
    color: rgb(0, 0, 0);
}

.img1 {
width: 30%;

}

.text {
    font-size: 12px;
    margin-left: 5px;
    color: rgb(241, 202, 202);
}

.verde{
    background-color: rgb(101, 97, 104);
}

.desc{
    color: rgb(0, 0, 0);
    padding: 1rem;
}

.price{
    font-size: 1.5rem;
    color: rgb(179, 165, 165);
    font-weight: 600;
}
