.nav{
background-color: rgb(228, 158, 218);
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    border-top: 2px solid black;

    position: fixed;
    bottom: 0;
    left: 0;
}

.nav div {
    height: 90px;
    width: 90px;
    background-color: rgba(230, 221, 233, 0.742);
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    border: 2px solid black;
    transition: all 0.3s ease;
}

.nav div:hover{
    background-color: rgba(199, 123, 235, 0.9);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.nav img{
    width: 70%;
}