.div{
    width: 100px;
    height: 80px;
    border: 3px solid rgb(42, 29, 48);
    border-radius: 100%;

}

.header{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2.3rem;
    padding: 10px;
    background-color: rgb(228, 143, 221);
    font-weight: 600;
    border-bottom: 2px solid black;
}

.img{
    overflow: hidden;
    width: 100%;
    border-radius: 45%;
}